.wrap [class*="CodeMirror-lint-marker"],
.mt-core-ui [class*="CodeMirror-lint-message"],
.wrap .CodeMirror-lint-marker-multiple {
	background-image: none;
}

.mt-core-ui .CodeMirror-lint-marker-error,
.mt-core-ui .CodeMirror-lint-marker-warning {
	cursor: help;
}

.wrap .CodeMirror-lint-marker-multiple {
	position: absolute;
	top: 0;
}

.wrap [class*="CodeMirror-lint-marker"]:before {
	font: normal 18px/1 dashicons;
	position: relative;
	top: -2px;
}

.mt-core-ui [class*="CodeMirror-lint-message"]:before {
	font: normal 16px/1 dashicons;
	left: 16px;
	position: absolute;
}

.mt-core-ui .CodeMirror-lint-message-error,
.mt-core-ui .CodeMirror-lint-message-warning {
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
	margin: 5px 0 2px;
	padding: 3px 12px 3px 28px;
}

.mt-core-ui .CodeMirror-lint-message-warning {
	background-color: #fcf9e8;
	border-left: 4px solid #dba617;
}

.wrap .CodeMirror-lint-marker-warning:before,
.mt-core-ui .CodeMirror-lint-message-warning:before {
	content: "\f534";
	color: #dba617;
}

.mt-core-ui .CodeMirror-lint-message-error {
	background-color: #fcf0f1;
	border-left: 4px solid #d63638;
}

.wrap .CodeMirror-lint-marker-error:before,
.mt-core-ui .CodeMirror-lint-message-error:before {
	content: "\f153";
	color: #d63638;
}

.mt-core-ui .CodeMirror-lint-tooltip {
	background: none;
	border: none;
	border-radius: 0;
	direction: ltr;
}

.wrap .CodeMirror .CodeMirror-matchingbracket {
	background: rgba(219, 166, 23, 0.3);
	color: inherit;
}

.CodeMirror {
	text-align: left;
}

.wrap .CodeMirror .CodeMirror-linenumber {
	color: #646970;
}
